# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Dependency directory
node_modules

# Benchmark lock file
benchmark/package-lock.json

# IDE / Text Editor files
.vscode
*.sublime-*

# Misc
.DS_Store
